*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}

.hero{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 160px;
    margin-right: auto;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.content{
    text-align: center;
}

.content h1{
    margin-top: 200px;
    font-size: 120px;
    color: aliceblue;
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.btnConfess{
    text-decoration: none;
    display: inline-block;
    color: aliceblue;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 80px;
    transition: 0.3s;

}

.btnConfess:hover{
    border: 2px solid transparent;
    background-color: #fff;
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 55);
    font-size: 24px;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 80px; 
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

#iWhaleConfess{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
}


.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.bg-modal-admin{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.admin-modal-content{
    position: relative;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
    text-align: center;
    padding: 20px;
}

.admin-modal-content img{
    margin-top: 20px;
    max-width: 100px;
}

.modal-content{
    position: relative;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
}

@media(max-aspect-ratio) {
    .modal-content{
        width: 600px;
        height: auto;
    }
    
}

#replyIdtxt{
    padding-left: 2%;
    padding-top: 2%;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    width: 540px;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 10px;
    background-color: #ffffff;
    resize: none;
}

#confesstxt{
    padding-left: 2%;
    padding-top: 2%;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 20px;
    width: 540px;
    height: 100px;
    box-sizing: border-box;
    border: 2px solid rgb(213, 213, 213);
    border-radius: 10px;
    background-color: #ffffff;
    resize: none;
}




.label{
    color:rgb(0, 0, 55);
    font-size: 60px;
}

  .preview img{
      margin-top: 5px;
      margin-bottom: 5px;
      max-width: 540px;
      max-height: auto;
      align-items: center;
      justify-content: center;
      z-index: 0;
      margin-left: 20px;
      border-radius: 10px;
  }

  .chooseFile{
    margin-top: 5px;
      margin-bottom: 20px;
      margin-left: 20px;
  }

  input[type="file"] {
    display: none;
}

.custom-file-upload {
    font-size: 14px;
    color: rgb(129, 129, 129);
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    
}

.center{
    text-align: center;
    margin-bottom: 20px;
    
}

.btnSubmit{
    font-size: 18px;
    margin-top: 20px;
    border-radius: 10px;
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 0, 153);
    border: 2px solid rgb(19, 4, 150);
    padding: 10px 20px;
    border-radius: 50px;
    
}

.btnLogin{
    font-size: 18px;
    margin-top: 20px;
    border-radius: 10px;
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 0, 153);
    border: 2px solid rgb(19, 4, 150);
    padding: 10px 20px;
    border-radius: 50px;
    width: 150px;
}

.btnLogin:hover{
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 10px;
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 0, 80);
    border: 2px solid rgb(19, 4, 150);
    padding: 10px 20px;
    border-radius: 50px;
    width: 150px;
}

input{
    width: 50%;
    display: block;
    margin: 15px auto;
    font-size: large;
    margin-top: 20px;
    padding: 10px 10px;
    overflow: auto;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close-admin-login{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 30px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* .userpage{
    margin-top: 1000px;
    background-image: url(bg.png);
    background-size: cover;
    background-attachment: fixed;
} */

.posted-1{
    margin-top: 20px;
    position: relative;
    width: 600px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 7, 78, 0.553);
    border-radius: 10px;
    overflow: auto;
    left: 30%;
    padding-left: 10px;
    padding-top: 10px;
    
}

.posted-2{
    margin-top: 20px;
    position: relative;
    width: 600px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 7, 78, 0.553);
    border-radius: 10px;
    overflow: auto;
    left: 30%;
    padding-left: 10px;
    padding-top: 10px;
    
}

.posted-3{
    margin-top: 20px;
    position: relative;
    width: 600px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(0, 7, 78, 0.553);
    border-radius: 10px;
    overflow: auto;
    left: 30%;
    padding-left: 10px;
    padding-top: 10px;
    
}

body{
    overflow-x: hidden;
    background-image: url("manywhale.png");
  background-repeat: repeat;
  background-color: #cccccc;
}

.userpage{
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    min-height: 100vh;
    /* width: 100%;
    background-image: linear-gradient(rgba(89, 5, 5, 0.3),rgba(0,0,0,0.3));
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.userpage img{
    width: 100%;
    
    position: absolute;
    z-index: -1;
    
    
}



